body{background: #BDBDBD;
margin:0px;
}
div{
    box-sizing: border-box;
    }
header{background: white;
font-family: Arial, Helvetica, sans-serif;
    padding:10px;
}
header h1{margin:10px;
}
div.post{
    background: white;
    margin-top: 55px;
    }
div.post img{
    width:100%;
    height: 375px;
    object-fit: cover;
    }
    div.post .post-header div:first-child{
        display: inline-block;
        width:80%;
        height: 60px;
        background: white;
        padding:10px;
    }
    div.post .post-header div:last-child{
        display: inline-block;
        float:right;
        width:18%;
        height: 60px;
        text-align: right;
        padding: 10px;
        margin:auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color:gray;
              }
    div.post h2, div.post p{
        padding:10px;
        margin:0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
div.container{
    width: 600px;
    margin:auto;
        }